<% include header %>

 <section id="dashboard">
                  <header>
                    <h1>Actuators list</h1>
				  </header>			
					<div class="row-fluid">
					
						<table class="table table-striped full-section table-hover">
							<thead>
							  <tr>
								<th>Type</th>
								<th>Active</th>
								<th>Binding</th>
								<th>Label</th>
								<th>Order</th>
								<th>Status</th>
							  </tr>
							</thead>
							<tbody>
											  
						<% 
						for(var i=0; i<actuators.length; i++) {
						var actuator = actuators[i];
						%>

							<tr>
								<td class="primary"><%= actuator.actuator %></td>
								<td><%= actuator.enabled %></td>
								<td><%= actuator.pin %></td>
								<td><%= actuator.series[0].name %></td>
								<td><%= actuator.order %></td>
								<td>
									<div class="make-switch">
										<input type="checkbox" <% if(actuator.series[0].lastValue == "1") { %>checked<%}%>>
									</div>
								</td>
							</tr>

							<% } %>

						</tbody>
						</table>
					</div>
						 
                </section>


<% include footer %>

