<% include header %>

 <section id="dashboard">
                  <header>
				  <!--
                    <div class="pull-right">
                        <a href="/sensor/add" class="btn btn-small">Add new sensor</a>
                    </div>
					-->
                    <h1>Sensor list</h1>
				  </header>			
					<div class="row-fluid">

					<table class="table table-striped full-section table-hover">
						<thead>
						  <tr>
							<th>Type</th>
							<th>Active</th>
							<th>Series</th>
							<th>Binding</th>
							<th>Order</th>
						  </tr>
						</thead>
						<tbody>
										  
					<% 
					for(var i=0; i<sensors.length; i++) {
					var sensor = sensors[i];
					%>

						<tr>
							<td class="primary"><%= sensor.sensor %></td>
							<td><%= sensor.enabled %></td>
							<td>
								<ul>
								<% for (var key in sensor.series) { %>
									<li><%= sensor.series[key].name %></li>
								<% } %>
								</ul>
							</td>
							<td>
								<% if(sensor.sensor == 'DS18B20') { %>
									file://<%= sensor.file %>
								<% } %>
								<% if(sensor.sensor == 'DHT22') { %>
									pin://<%= sensor.pin %>
								<% } %>
							</td>
							<td><%= sensor.order %></td>
						</tr>

						<% } %>

					</tbody>
					</table>


					</div>
						 
                </section>

<% include footer %>

