<% include header %>

 <section id="dashboard">
                  <header>
                    <div class="pull-right">
                        <a href="/sensor/add" class="btn btn-small">Add new sensor</a>
                    </div>
                    <h1>Sensor list</h1>
				  </header>			
					<div class="row-fluid">

					<table class="table table-striped full-section table-hover">
						<thead>
						  <tr>
							<th>Type</th>
							<th>ID</th>
							<th>Binding</th>
							<th>Label</th>
							<th>Order</th>
							<th>Last measure</th>
						  </tr>
						</thead>
						<tbody>
										  
					<% 
					for(var i=0; i<sensors.length; i++) {
					var sensor = sensors[i];
					%>

						<tr>
							<td class="primary"><%= sensor.sensor %></td>
							<td><%= sensor.key %></td>
							<td><%= sensor.file %></td>
							<td><%= sensor.label %></td>
							<td><%= sensor.order %></td>
							<td>xxxxxxxxx</td>
						</tr>

						<% } %>

					</tbody>
					</table>


					</div>
						 
                </section>

<% include footer %>

